<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <title>XKCD Browser</title>
</head>

<body>
  <h1>XKCD Browser</h1>
  <div id="app">

    <div v-if="loading">
      <p>Loading...</p>
    </div>
    <div v-else>
      <p>
        <button v-on:click="previousComic">Previous</button>
        <button v-on:click="nextComic">Next</button>
        <button v-on:click="randomComic">Random</button>
        <button v-on:click="firstComic">First</button>
        <button v-on:click="lastComic">Last</button>
      </p>
      <h2>{{current.safe_title}}</h2>
      <img v-bind:src="current.img" v-bind:alt="current.alt">

      <p>{{current.alt}}</p>
      <p><i>#{{current.num}}, drawn on {{current.day}} {{month}} {{current.year}}</i></p>

        <star-rating @rating-selected ="setRating"
                      v-bind:increment="0.5"
                      active-color="red">
        </star-rating>
        <div @rating-selected="rating" v-bind:increment="0.5">
            <i>Average Rating: {{average}}</i>
        </div>

        <h3>Add a Comment</h3>
        <form v-on:submit.prevent="addComment">
          <input v-model="addedName" placeholder="Name">
          <textarea v-model="addedComment"></textarea>
          <br />
          <button type="submit">Comment</button>
        </form>
        <h3>Comments</h3>
        <div v-for="comment in comments[number]">
          <hr>
          <p>{{comment.text}}</p>
          <p><i>-- {{comment.author}} ({{comment.time}})</i></p>
        </div>

    </div>

  </div>

  <div class="github">
    <button><a href="https://github.com/BYUCS260/xkcd-browser-tbacon20" target="_blank">GitHub</a></button>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/VueStarRating.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/script.js"></script>
</body>

</html>
